<style>#branding{display:none;}</style>
<div class="scrollable">
    <div class="scrollable-content">
        <div>
            <div class="row">
                <div style='text-align:center;'>
                    <img id="settingsbranding" style='margin:15px 0;width:60%;' src="{{brandingUrl}}" />
                </div>
            </div>
            <div style="margin:0px 15px;">
                
                <p class="alert alert-danger">Resetting your app clears all information associated with your app and initializes it with the default setting.  You can use this feature if your app is not functioning correctly (ex: the icons are not appearing on the sidebar).  This feature requires network connectivity.
                </p>
                <button class="btn btn-block btn-primary" ng-click="resetmyapp();">Reset app</button>
                
            </div>
        </div>
    </div>
</div>